.contacts {
  padding: 40px 0;
  color: $color-brand-second;

  &__title {
    text-align: center;

    h2 {
      padding: 0;
      margin: 0 0 20px 0;
    }
  }

  &__layouts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include columns(31.5%);
  }

  &__part {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  &__box {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    h4 {
      @include font(1.9rem, 2.4rem, $weight: bold);
    }

    span {
      margin-right: 5px;
    }

    p {
      @include font(1.8rem, 2rem);
      letter-spacing: 0.1rem;
    }

    a {
      color: $color-brand-second;
      display: flex;
      @include font(1.9rem, 2.4rem);
    }
  }
}
