.footer {
    background-color: $color-brand-second;
    padding: 40px 0 10px;
    color: $color-brand-accent;
}

.footer__contacts {
    a {
        color: $color-brand-accent;
        display: flex;
        @include font(1.8rem, 2.4rem);
        @include media-mobile-414 {
            @include font(1.3rem, 1.4rem);
        }
    }
}

.footer__items {
    margin-bottom: 15px;
    @include media-tablet-768 {
        margin: 10px 0 10px 20px;
    }
}

.footer__policy {
    margin: 0;
    a {
        color: $color-brand-accent;
        @include font(1.8rem, 2.4rem);
        @include media-tablet-768 {
            @include font(1.3rem, 1.5rem);
        }
        @include media-mobile-414 {
            @include font(1.1rem, 1.4rem);
        }
    }
}
.footer__social-links {
    * {
        box-sizing: content-box;
    }
    h4 {
        margin-bottom: 10px;
    }
}
.footer__contacts {
    margin-bottom: 20px;
}
.footer__layouts-item_space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__place-ico {
    display: flex;
    margin-bottom: 20px;
    span {
        margin-right: 10px;
        margin-top: 10px;
        flex: 0 0 auto;
    }
    h4 {
        @include font(2.2rem, 3rem);
    }
}
.footer__layouts {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-gap: 20px;
}
.footer__place-ico_time {
    padding-top: 10px;
}
.footer__phone {
    a {
        text-decoration: none;
        @include font(1.8rem, 3.2rem);
    }
}
