.header {
    padding: 10px 0;
    color: $color-text;
    @include media-laptop-1024 {
        text-align: right;
    }
}

.header__top,
.header__region {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media-tablet-768 {
        justify-content: space-between;
        padding: 3%;
    }
}
.header__region {
    @include media-laptop-1024 {
        display: none;
    }
}
.header__navigation {
    @include media-tablet-768 {
        display: none;
    }
}
.navigatin {
    display: flex;
    padding: 0;
}

.navigatin__link,
.header__language {
    list-style-type: none;
    padding: 0 20px;
    @include media-pcsmall-1366 {
        padding: 0 8px;
    }
    a {
        color: $color-text;
        text-transform: uppercase;
        @extend %transition;
        position: relative;
        line-height: 1;
        text-decoration: none;
        letter-spacing: 0.2rem;
        @include font(1.4rem);
        line-height: 2rem;
        @include media-pcsmall-1366 {
            @include font(1.3rem);
        }
        &:hover {
            color: $color-brand-accent;
        }
    }

    .header__language_active {
        color: $color-brand-accent;
    }

    a:after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $color-brand-accent;
        content: '';
        @extend %transition;
    }

    a:hover:after,
    a:focus:after {
        width: 100%;
    }
}

.header__language {
    a {
        margin: 0 6px;
    }

    span {
        padding-right: 2px;
        border-left: 1px solid $color-text;
    }
}

//Регионы
.dropdown {
    @extend %transition;
    margin-left: 5px;
    padding: 10px 12px 7px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        border-color: $color-light;
    }
}

.dropdown-content {
    @include media-pcsmall-1366 {
        left: -50px;
    }
    @extend %transition;
    text-align: center;
    position: absolute;
    background-color: $color-light;
    min-width: 140px;
    z-index: 10;
    border-radius: 5px;
    text-transform: uppercase;
    opacity: 0;
    padding: 10px;
    top: 50px;
    left: -20px;
    @extend %transition;
}

.dropdown-content a {
    @extend %transition;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: $color-brand-accent;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
}

.dropbtn {
    text-transform: uppercase;
    @include font(1.1rem, 2.4rem);
    margin-left: 5px;
    letter-spacing: 0.1rem;
}

.region__now {
    cursor: pointer;
    display: flex;
    border: 1px solid $color-brand-accent;
    padding: 10px 12px 7px;
    border-radius: 5px;
    @include font(1.1rem, 2.4rem);
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    &_label {
        padding-left: 5px;
    }
}

.promo__title {
    text-align: center;
    padding-top: 20vh;
    @include media-tablet-768 {
        padding-top: 25vh;
    }
}

.promo__title-year {
    @include font(1.4rem, 2.4rem);
    letter-spacing: 0.15rem;
    margin-bottom: 40px;
    @include appearancEffect();
    &._active {
        @include appearancEffect($translate2: 0px, $opacity: 1, $transition2: 0.5s);
    }
    @include media-tablet-768 {
        margin-bottom: 30px;
    }
    @include media-mobile-414 {
        margin-bottom: 15px;
        @include font(1.2rem, 2rem);
    }
}

.promo__title-span {
    cursor: pointer;
    display: inline-block;
    background-image: url('../img/mama-doma-title.svg');
    width: 763px;
    height: 117px;
    @include appearancEffect();
    &._active {
        @include appearancEffect($translate2: 0px, $opacity: 1);
    }
    @include media-pcsmall-1366 {
        width: 600px;
        height: 90px;
        background-size: cover;
    }
    @include media-laptop-1024 {
        width: 500px;
        height: 75px;
    }
    @include media-tablet-768 {
        width: 400px;
        height: 60px;
    }
    @include media-mobile-414 {
        width: 300px;
        height: 45px;
    }
}

.promo__title-description {
    padding-top: 40px;
    text-transform: uppercase;
    @include font(2.5rem, $weight: 500);
    letter-spacing: 0.15rem;
    @include appearancEffect($translate2: -20%, $translate1: 0);

    &._active {
        @include appearancEffect($translate2: 0px, $opacity: 1, $transition2: 0.5s);
    }
    @include media-pcsmall-1366 {
        @include font(2.2rem, $weight: 500);
    }
    @include media-laptop-1024 {
        @include font(2.1rem, $weight: 500);
    }
    @include media-tablet-768 {
        @include font(1.7rem, $weight: 500);
        letter-spacing: 0.07rem;
        padding-top: 30px;
    }
    @include media-mobile-414 {
        @include font(1.4rem, $weight: 500);
        letter-spacing: 0.05rem;
        padding-top: 20px;
    }
}

.gif {
    width: 200px;
    position: absolute;
    right: 5vw;
    top: 25vh;
    -webkit-animation: animation 3000ms linear both;
    animation: animation 3000ms linear both;
    @include media-pcsmall-1366 {
        width: 160px;
    }
    @include media-laptop-1024 {
        width: 120px;
    }
    @include media-tablet-768 {
        top: 20vh;
    }
}

// intro video

.header {
    height: 100vh;
}

.header__intro {
    z-index: -5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(10, 8, 8) url('../img/IMG_8164.JPG') no-repeat center center;
    background-size: cover;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.header__intro-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}
