.header {
  color: $color-text;

  @include media-laptop-1024 {
    text-align: right;
  }
}

.header__top {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 8px;
  @extend %transition;

  &._scroll {
    background-color: $color-light;

    .navigatin__link a,
    .header__region .dropdown .region__now_label,
    .header__language,
    .header__language a {
      color: $color-brand-second;
    }

    .header__language .header__language_active {
      color: $color-brand-accent;
    }
  }

  @include media-pcsmall-1366 {
    padding: 8px 0;

    .logo img {
      width: 100px;
      padding-left: 10px;
    }
  }
}

.header__top,
.header__region {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include media-tablet-768 {
    justify-content: space-between;
  }
}

.header__region {
  @include media-laptop-1024 {
    display: none;
  }
}

.header__navigation {
  @include media-laptop-1024 {
    margin: 0 auto;
  }
  @include media-tablet-768 {
    display: none;
  }
}

.navigatin {
  display: flex;
}

ul {
  padding-inline-start: 0;
}

.navigatin__link,
.header__language {
  list-style-type: none;
  padding: 0 27px;

  @include media-pcsmall-1366 {
    padding: 0 10px;
  }

  a {
    color: $color-text;
    text-transform: uppercase;
    @extend %transition;
    position: relative;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.2rem;
    @include font(1.3rem, 2rem, 600);

    &:hover {
      color: $color-brand-accent;
    }

    @include media-laptop-1024 {
      @include font(1rem, 2rem, 600);
    }
  }

  a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color-brand-accent;
    content: '';
    @extend %transition;
  }

  a:hover:after,
  a:focus:after {
    width: 100%;
  }
}

.header__language {
  color: $color-text;
  a {
    margin: 0 6px;
  }
}

//Регионы
.dropdown {
  @extend %transition;
  position: relative;
  display: inline-block;
  padding: 5px 0;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: $color-light;
  padding: 10px;
  min-width: 140px;
  transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @extend %transition;

  text-align: center;
  z-index: 10;
  border-radius: 5px;
  text-transform: uppercase;

  a {
    color: $color-brand-second;
    @include font(1.4rem, 2rem, 600);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    @extend %transition;

    &:hover {
      color: $color-brand-accent;
    }
  }
}

._pc .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translate(20px, 0);
  pointer-events: all;
}

.region__now {
  cursor: pointer;
  display: flex;
  border: 2px solid $color-brand-accent;
  padding: 10px 12px 7px;
  border-radius: 5px;
  @include font(1.3rem, 2rem, 600);
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &_label {
    padding-left: 5px;
  }

  @include media-pcsmall-1366 {
    padding: 8px 10px 6px;
    @include font(1.2rem, 1.8rem, 600);
    letter-spacing: 0.1rem;
  }
}

.promo__title {
  text-align: center;
  padding-top: 20vh;
}

.promo__title-year {
  @include font(1.4rem, 2.4rem);
  letter-spacing: 0.15rem;
  margin-bottom: 40px;
  @include appearancEffect();
  &._active {
    @include appearancEffect($translate2: 0px, $opacity: 1, $transition2: 0.5s);
  }
  @include media-tablet-768 {
    margin-bottom: 30px;
  }
  @include media-mobile-414 {
    margin-bottom: 15px;
    @include font(1.2rem, 2rem);
  }
}

.promo__title-span {
  cursor: pointer;
  display: inline-block;
  background-image: url('../../images/dest/mama-doma-title.svg');
  width: 848px;
  height: 130px;
  @include appearancEffect();
  &._active {
    @include appearancEffect($translate2: 0px, $opacity: 1);
  }
  @include media-pcsmall-1366 {
    width: 785px;
    height: 120px;
    background-size: cover;
  }
  @include media-laptop-1024 {
    width: 760px;
    height: 116px;
  }
  @include media-tablet-768 {
    width: 600px;
    height: 92px;
  }
  @include media-tablet-620 {
    width: 390px;
    height: 59px;
  }
  @include media-mobile-414 {
    width: 300px;
    height: 45px;
  }
}

.promo__title-description {
  padding-top: 40px;
  text-transform: uppercase;
  @include font(2.5rem, $weight: 500);
  letter-spacing: 0.15rem;
  @include appearancEffect($translate2: -20%, $translate1: 0);

  &._active {
    @include appearancEffect($translate2: 0px, $opacity: 1, $transition2: 0.5s);
  }
  @include media-pcsmall-1366 {
    @include font(2.2rem, $weight: 500);
  }
  @include media-laptop-1024 {
    @include font(2.1rem, $weight: 500);
  }
  @include media-tablet-768 {
    @include font(1.7rem, $weight: 500);
    letter-spacing: 0.07rem;
    padding-top: 30px;
  }
  @include media-mobile-414 {
    @include font(1.4rem, $weight: 500);
    letter-spacing: 0.05rem;
    padding-top: 20px;
  }
}

// intro video

.header {
  height: 100vh;
}

.header__intro {
  z-index: -5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(10, 8, 8) url('../../images/dest/bg_no_youtube.jpg') no-repeat center center;
  background-size: cover;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header__intro-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
