.menu {
  padding: 80px 0;
  background-color: $color-brand-accent;
}

.menu__wrapper {
  text-align: center;
}

.menu__item {
  margin: 15px 5px;
}
.menu__title {
  margin-bottom: 80px - 15px; // margin of menu__item 15px
  h2 {
    padding: 0;
    margin: 0;
  }
}
.menu__links._long-desc {
  &::after {
    bottom: 20%;
  }
  &::after {
    @include media-tablet-620 {
      bottom: 27.5%;
    }
  }
}
.menu__links {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: $color-light;
    left: 20%;
    z-index: 2;
    border-radius: 3px;
  }
  &::before {
    top: 22.5%;
    @include media-tablet-620 {
      top: 25%;
    }
    @include media-mobile-414 {
      top: 22%;
    }
  }
  &::after {
    bottom: 35%;
    @include media-tablet-620 {
      bottom: 30%;
    }
    @include media-mobile-414 {
      bottom: 22%;
    }
  }

  display: inline-block;
  width: 360px;
  height: 200px;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transform: scale(0);
  transition: all 0.8s ease;
  color: $color-text;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include font(3.3rem, 3.7rem, $weight: 700);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 20% 10px 20%;
  @include media-laptop-1024 {
    width: 460px;
    height: 240px;
  }
  @include media-tablet-768 {
    width: 460px;
    height: 240px;
  }
  @include media-tablet-620 {
    width: 400px;
    height: 250px;
    padding: 100px 10px 20%;
  }
  @include media-mobile-414 {
    @include font(2.6rem, $weight: 700);
    letter-spacing: 0.1rem;
    width: 100%;
    height: auto;
    padding: 70px 10px 20%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.15);
  }
  &._active {
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.15);
  }
}

.menu__additionalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__additional {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transform: scale(0);
  transition: all 0.8s ease;
  color: $color-text;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include font(2.4rem, 4.4rem, $weight: 700);
  text-decoration: none;
  background-color: #3c2b23;
  padding: 5px 0;

  @include media-laptop-1024 {
    width: 460px;
  }

  @include media-tablet-768 {
    width: 460px;
  }

  @include media-tablet-620 {
    width: 400px;
  }

  @include media-mobile-414 {
    @include font(2rem, $weight: 700);
    width: 100%;
    padding: 8px;
  }

  &._active {
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 12px 12px rgba(0, 0, 0, 0.15);
  }
}

.menu__to-0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/goryacie-bluda.jpg');
}

.menu__to-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/sup.jpg');
}

.menu__to-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/salats.jpg');
}

.menu__to-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/draniki.jpg');
}

.menu__to-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/sytnyye-bliny.jpg');
}

.menu__to-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/sladkiye-bliny.jpg');
}
.menu__to-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/syrniki.jpg');
}
.menu__to-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url('../../images/dest/menu/napitki.jpg');
}
