::-webkit-scrollbar {
  // width: 10px;

  width: 0;
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar-track {
  // background: $color-brand-accent;

  width: 0;
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  // background: $color-brand-second;
  // border-radius: 5px;

  width: 0;
  visibility: hidden;
  opacity: 0;
}
