.swiper {
  padding: 15px;
}

.swiper-slide {
  a {
    cursor: default;
  }

  .img-big {
    width: 200%;
  }

  img {
    @extend %transition;
    max-width: 100%;

    &:hover {
      opacity: 0.9;
    }
  }
}

.popup__body {
  .swiper-slide {
    a {
      cursor: pointer;
    }

    img {
      @extend %transition;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0;
    visibility: hidden;
  }
}
