$color-brand-accent: #fecc16;
$color-brand-second: #362823;
$color-light: #fffaf6;
$color-text: #ffffff;

$content-width: 1200px;
$pc-small: 1366px;
$media-laptop: 1024px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
