.body__menu-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.menu-page-items {
  flex: 1;
  // background-color: $color-brand-accent;
  padding: 80px 10px;
  @include media-mobile-414 {
    padding: 50px 10px;
  }
}

.menu-page-header {
  background-color: $color-brand-second;
  padding: 10px 0;

  .region__now_label,
  .dropbtn {
    color: $color-text;
  }
}

.menu-page__navigatin {
  margin: 0;
}

.menu-page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-page-items__wrapper {
  text-align: center;
}

.menu-page__navigatin {
  display: flex;
}

.menu-page__link {
  list-style-type: none;
  padding: 0 20px;

  a {
    color: $color-text;
    text-transform: uppercase;
    @extend %transition;
    position: relative;
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.2rem;
    @include font(1.4rem);
    line-height: 2rem;

    &:hover {
      color: $color-brand-accent;
    }
  }

  a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color-brand-accent;
    content: '';
    @extend %transition;
  }

  a:hover:after,
  a:focus:after {
    width: 100%;
  }
}

.menu-page__title {
  h2 {
    padding: 0;
    margin: 0 0 80px 0;
  }
  @include media-mobile-414 {
    h2 {
      @include font(2.7rem, 4rem, $weight: 900);
      max-width: 295px;
      margin-bottom: 40px;
      margin: 0 auto 40px auto;
    }
  }
  @include media-mobilesmall-320 {
    margin-bottom: 20px;
    h2 {
      @include font(2.6rem, $weight: 900);
    }
  }
}

.bgctext {
  background-color: $color-text;
}

.bgcacent {
  background-color: $color-brand-accent;
}

.bgcsecond {
  background-color: $color-brand-second;
  color: $color-text;
}
.menu-page__layout {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.menu-page__links {
  flex: 1 1 calc(33.33% - 30px); /* отнимем margin и скажем растягиваться */
  margin: 15px;
  box-sizing: border-box; /* чтобы внутренний отступ не влиял когда там будет текст... */
  min-width: 290px; /* мин. ширина блока, чтобы переносились на другой ряд */
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 360px;
  height: 440px;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  transition: all 0.8s ease;
  position: relative;
  p,
  h4 {
    margin: 0;
    padding: 0;
  }

  p {
    @include font(1.6rem, 1.8rem, 400);
    letter-spacing: 0.2rem;
  }

  h4 {
    margin: 0 auto;
    @include font(2.2rem, 2.4rem, bold);
    min-height: 2.8rem;
    margin-bottom: 5px;
    max-width: 300px;
  }

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.2);
  }
}

.menu-page__image {
  flex: 1;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  border-radius: 10px 10px 50% 0;
  &_hot-1 {
    background-image: url('../../images/dest/menuPage/hot-1.jpg');
  }
  &_hot-2 {
    background-image: url('../../images/dest/menuPage/hot-2.jpg');
  }
  &_hot-3 {
    background-image: url('../../images/dest/menuPage/hot-3.jpg');
  }
  &_hot-4 {
    background-image: url('../../images/dest/menuPage/hot-4.jpg');
  }
  &_hot-5 {
    background-image: url('../../images/dest/menuPage/hot-5.jpg');
  }
  &_hot-6 {
    background-image: url('../../images/dest/menuPage/hot-6.jpg');
  }
  &_hot-7 {
    background-image: url('../../images/dest/menuPage/hot-7.jpg');
  }
  &_hot-8 {
    background-image: url('../../images/dest/menuPage/hot-8.jpg');
  }
  &_hot-9 {
    background-image: url('../../images/dest/menuPage/hot-9.jpg');
  }
  &_sup-mar30-1 {
    background-image: url('../../images/dest/menuPage/sup-mar30-1.jpg');
  }
  &_sup-mar30-2 {
    background-image: url('../../images/dest/menuPage/sup-mar30-2.jpg');
  }
  &_sup-mar30-3 {
    background-image: url('../../images/dest/menuPage/sup-mar30-3.jpg');
  }
  &_draniki-01 {
    background-image: url('../../images/dest/menuPage/dra-01.jpg');
  }
  &_draniki-02 {
    background-image: url('../../images/dest/menuPage/dra-02.jpg');
  }
  &_draniki-03 {
    background-image: url('../../images/dest/menuPage/dra-03.jpg');
  }
  &_draniki-04 {
    background-image: url('../../images/dest/menuPage/dra-04.jpg');
  }
  &_draniki-05 {
    background-image: url('../../images/dest/menuPage/dra-05.jpg');
  }
  &_bliny-05 {
    background-image: url('../../images/dest/menuPage/blin-05.jpg');
  }
  &_hot-mar30-1 {
    background-image: url('../../images/dest/menuPage/hot-mar30-1.jpg');
  }
  &_hot-mar30-2 {
    background-image: url('../../images/dest/menuPage/hot-mar30-2.jpg');
  }
  &_hot-mar30-3 {
    background-image: url('../../images/dest/menuPage/hot-mar30-3.jpg');
  }
  &_hot-mar30-4 {
    background-image: url('../../images/dest/menuPage/hot-mar30-4.jpg');
  }
  &_hot-mar30-5 {
    background-image: url('../../images/dest/menuPage/hot-mar30-5.jpg');
  }
  &_hot-mar30-6 {
    background-image: url('../../images/dest/menuPage/hot-mar30-6.jpg');
  }
  &_hot-mar30-7 {
    background-image: url('../../images/dest/menuPage/hot-mar30-7.jpg');
  }
  &_syrnik-mar30-0 {
    background-image: url('../../images/dest/menuPage/syrnik-mar30-0.jpg');
  }
  &_syrnik-mar30-1 {
    background-image: url('../../images/dest/menuPage/syrnik-mar30-1.jpg');
  }
  &_syrnik-mar30-2 {
    background-image: url('../../images/dest/menuPage/syrnik-mar30-2.jpg');
  }
  &_syrnik-03 {
    background-image: url('../../images/dest/menuPage/blin-330.jpg');
  }
  &_napitki_mar-01 {
    background-image: url('../../images/dest/menuPage/napitki_mar-01.jpg');
  }
  &_napitki-kompot {
    background-image: url('../../images/dest/menuPage/napitki-kompot.jpg');
  }
  &_napitki-kvas-09 {
    background-image: url('../../images/dest/menuPage/napitki-kvas-09.jpg');
  }
  &_napitki-kvas-10 {
    background-image: url('../../images/dest/menuPage/napitki-kvas-10.jpg');
  }
  &_1 {
    background-image: url('../../images/dest/menuPage/photo_2020-10-26_20-38-59.jpg');
  }
  &_2 {
    background-image: url('../../images/dest/menuPage/IMG_8165.jpg');
  }
  &_3 {
    background-image: url('../../images/dest/menuPage/IMG_8168.jpg');
  }

  &_sup-01 {
    background-image: url('../../images/dest/menuPage/sup-01.jpg');
  }
  &_sup-02 {
    background-image: url('../../images/dest/menuPage/sup-02.jpg');
  }
  &_sup-03 {
    background-image: url('../../images/dest/menuPage/sup-03.jpg');
  }
  &_salat-01 {
    background-image: url('../../images/dest/menuPage/salat-01.jpg');
  }
  &_salat-02 {
    background-image: url('../../images/dest/menuPage/salat-02.jpg');
  }
  &_bliny-01 {
    background-image: url('../../images/dest/menuPage/blin-01.jpg');
  }
  &_bliny-02 {
    background-image: url('../../images/dest/menuPage/blin-02.jpg');
  }
  &_bliny-03 {
    background-image: url('../../images/dest/menuPage/blin-02.jpg');
  }
  &_bliny-04 {
    background-image: url('../../images/dest/menuPage/blin-04.jpg');
  }
  &_bliny-06 {
    background-image: url('../../images/dest/menuPage/blin-06.jpg');
  }
  &_bliny-07 {
    background-image: url('../../images/dest/menuPage/blin-07.jpg');
  }
  &_bliny-08 {
    background-image: url('../../images/dest/menuPage/blin-08.jpg');
  }
  &_bliny-09 {
    background-image: url('../../images/dest/menuPage/blin-09.jpg');
  }
  &_bliny-10 {
    background-image: url('../../images/dest/menuPage/blin-10.jpg');
  }
  &_bliny-11 {
    background-image: url('../../images/dest/menuPage/blin-10.jpg');
  }
  &_syrnik-01 {
    background-image: url('../../images/dest/menuPage/syrnik3.jpg');
  }
  &_syrnik-02 {
    background-image: url('../../images/dest/menuPage/blinynutella.jpg');
  }
  &_syrnik-04 {
    background-image: url('../../images/dest/menuPage/blintvorog.jpg');
  }
  &_syrnik-05 {
    background-image: url('../../images/dest/menuPage/blin-331.jpg');
  }
  &_sladkiyeBliny-02 {
    background-image: url('../../images/dest/menuPage/IMG_4542.jpg');
  }
  &_sladkiyeBliny-03 {
    background-image: url('../../images/dest/menuPage/IMG_4541.jpg');
  }
  &_sladkiyeBliny-04 {
    background-image: url('../../images/dest/menuPage/IMG_4542.jpg');
  }
  &_sladkiyeBliny-05 {
    background-image: url('../../images/dest/menuPage/IMG_4540.jpg');
  }
  &_syrniki-01 {
    background-image: url('../../images/dest/menuPage/IMG_3517.jpg');
  }
  &_napitki-01 {
    background-image: url('../../images/dest/menuPage/coffe.jpg');
  }
  &_napitki-02 {
    background-image: url('../../images/dest/menuPage/Tea.jpg');
  }
  &_napitki-03 {
    background-image: url('../../images/dest/menuPage/teafruct.jpg');
  }
  &_napitki-04 {
    background-image: url('../../images/dest/menuPage/napitki-03.jpg');
    background-position: top;
  }
  &_napitki-05 {
    background-image: url('../../images/dest/menuPage/napitki-04.jpg');
    background-position: top;
  }
  &_napitki-06 {
    background-image: url('../../images/dest/menuPage/napitki-06.jpg');
    background-position: top;
  }
  &_napitki-07 {
    background-image: url('../../images/dest/menuPage/napitki-07.jpg');
  }
  &_napitki-08 {
    background-image: url('../../images/dest/menuPage/napitki-08.jpg');
  }
  &_napitki-09 {
    background-image: url('../../images/dest/menuPage/napitki-09.jpg');
  }
  &_napitki-10 {
    background-image: url('../../images/dest/menuPage/napitki-10.jpg');
  }
  &_napitki-11 {
    background-image: url('../../images/dest/menuPage/IMG_1785.jpg');
  }
  &_napitki-12 {
    background-image: url('../../images/dest/menuPage/IMG_1785.jpg');
  }
  &_napitki-13 {
    background-image: url('../../images/dest/menuPage/IMG_1785.jpg');
  }
  &_napitki-14 {
    background-image: url('../../images/dest/menuPage/IMG_1785.jpg');
  }
  &_napitki-late {
    background-image: url('../../images/dest/menuPage/latte1.jpg');
  }
  &_napitki-capu {
    background-image: url('../../images/dest/menuPage/capucino1.jpg');
  }
  &_napitki-flet {
    background-image: url('../../images/dest/menuPage/flet.jpg');
  }
  &_napitki-expre {
    background-image: url('../../images/dest/menuPage/expresso.jpg');
  }
}

.menu-page__circle-price {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 4%;
  top: 4%;
  @include font(5.2rem, 8rem, 800);
  background-color: $color-brand-second;
  border-radius: 50%;
  color: $color-text;
  letter-spacing: 0.15rem;
  sup {
    @include font(2.5rem, 1rem, 900);
  }
  &_1 {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 4%;
    top: 4%;
    @include font(5.2rem, 8rem, 800);
    background-color: $color-brand-second;
    border-radius: 50%;
    color: $color-text;
    letter-spacing: 0.15rem;
    sup {
      @include font(2.5rem, 1rem, 900);
    }
  }
  &_2 {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 4%;
    top: 22%;
    @include font(5.2rem, 8rem, 800);
    background-color: $color-brand-second;
    border-radius: 50%;
    color: $color-text;
    letter-spacing: 0.15rem;
    sup {
      @include font(2.5rem, 1rem, 900);
    }
  }
}
