html {
    font-size: 10px;
}

body {
    @include font(1.6rem);
    font-family: 'Circe Rounded', Verdana, sans-serif;
}

body.lock {
    overflow: hidden;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

h2 {
    @include font(3.8rem, $weight: bold);
    color: $color-brand-second;
    text-transform: uppercase;
    @include media-tablet-768 {
        @include font(3.6rem, $weight: bold);
    }
    @include media-mobile-414 {
        @include font(3.4rem, $weight: bold);
    }
}

h3 {
    @include font(3.2rem, $weight: bold);
    color: $color-text;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}
