.about-us__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;

    color: $color-brand-second;
    @include font(1.4rem, $weight: bold);
    letter-spacing: 0.1rem;
    background-color: $color-brand-accent;
    border-radius: 40px;
    padding: 15px;

    &:hover {

        background-color: #ffd439;
    }
}