%hamburger-line {
    content: '';
    position: absolute;
    display: inline-block;
    background: $color-brand-accent;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}
.hamburger,
.hamburger-region {
    cursor: pointer;
    display: none;
    margin: 20px;
    position: relative;
    width: 32px;
    height: 24px;

    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }
    &:after {
        @extend %hamburger-line;
        bottom: 0;
        left: 0;
    }
}
.hamburger__line,
.hamburger-region__line {
    @extend %hamburger-line;
    top: calc(50% - 1.5px);
    left: 0;
}
.hamburger {
    @include media-tablet-768 {
        display: inline-block;
    }
}
.hamburger-region {
    @include media-laptop-1024 {
        display: inline-block;
    }
    @include media-tablet-768 {
        display: none;
    }
}
