ul.social__menu {
    margin: 0;
    align-items: center;
    text-align: center;
    transform: translate(0%, 0%);
    list-style-type: none;
    padding: 0;
    li {
        display: inline-block;
        margin: 10px;
        a {
            i.fa {
                display: inline-block;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                padding: 10px;
                border-radius: 40px;
                color: $color-brand-second;
                position: relative;
                transition: all ease 0.2s;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    border-radius: 40px;
                    background-color: #9e9e9e;
                }
                &:hover,
                &.hover {
                    color: #fff;
                    font-size: 18px;
                    &::after {
                        animation: animate ease 0.6s forwards;
                    }
                }
                @include media-laptop-1024 {
                    color: #fff;
                    font-size: 18px;
                    &::after {
                        animation: animate ease 0.6s forwards;
                    }
                }
            }
            i.fa-facebook:hover,
            i.fa-facebook.hover {
                &::after {
                    background-color: #3b5998;
                }
            }
            i.fa-facebook {
                @include media-laptop-1024 {
                    &::after {
                        background-color: #3b5998;
                    }
                }
            }
            i.fa-vk:hover,
            i.fa-vk.hover {
                &::after {
                    background-color: #00aced;
                }
            }
            i.fa-vk {
                @include media-laptop-1024 {
                    &::after {
                        background-color: #00aced;
                    }
                }
            }

            i.fa-instagram:hover,
            i.fa-instagram.hover {
                &::after {
                    background-color: #8a3ab9;
                }
            }
            i.fa-instagram {
                @include media-laptop-1024 {
                    &::after {
                        background-color: #8a3ab9;
                    }
                }
            }
            i.fa-odnoklassniki:hover,
            i.fa-odnoklassniki.hover {
                &::after {
                    background-color: #ff8800;
                }
            }
            i.fa-odnoklassniki {
                @include media-laptop-1024 {
                    &::after {
                        background-color: #ff8800;
                    }
                }
            }
        }
    }
}

@keyframes animate {
    0%,
    20% {
        transform: scale(1);
        border-radius: 40px;
        background-color: #9e9e9e;
    }
    30% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
        border-radius: 10px;
    }
    60%,
    100% {
        transform: scale(1);
        border-radius: 5px;
    }
}
