$width: 25px;
$padding: 14px;
$fontSize: 25px;

$minWidth: 25px;
$minPadding: 8px;
$minFontSize: 24px;

ul.social__menu {
  margin: 0;
  transform: translate(0%, 0%);
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 3px;
    @include media-tablet-620 {
      margin: 0 3px;
    }
    @include media-mobilesmall-320 {
      margin: 0;
    }
    a {
      text-decoration: none;
      i.fa {
        display: inline-block;
        height: $width;
        width: $width;
        text-align: center;
        line-height: $width;
        padding: $padding;
        border-radius: 50%;
        color: $color-brand-second;
        position: relative;
        transition: all ease 0.2s;
        font-size: $fontSize;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          height: 100%;
          width: 100%;
          z-index: -1;
          border-radius: 50%;
          background-color: $color-brand-accent;
        }
        &:hover,
        &.hover {
          color: #fff;
          font-size: $fontSize;
          &::after {
            animation: animate ease 0.6s forwards;
          }
        }
        @include media-laptop-1024 {
          color: #fff;
          font-size: $fontSize;
          &::after {
            animation: animate ease 0.6s forwards;
          }
        }
        @include media-tablet-768 {
          height: $minWidth;
          width: $minWidth;
          padding: $minPadding;
          font-size: $minFontSize;
          &::after {
            animation: animate ease 0.6s forwards;
          }
        }
      }
      i.fa-facebook:hover,
      i.fa-facebook.hover {
        &::after {
          background-color: #3b5998;
        }
      }
      i.fa-facebook {
        @include media-laptop-1024 {
          &::after {
            background-color: #3b5998;
          }
        }
      }

      i.fa-vk:hover,
      i.fa-vk.hover {
        &::after {
          background-color: #00aced;
        }
      }
      i.fa-vk {
        @include media-laptop-1024 {
          &::after {
            background-color: #00aced;
          }
        }
      }

      i.fa-linkedin:hover,
      i.fa-linkedin.hover {
        &::after {
          background-color: #2566c2;
        }
      }
      i.fa-linkedin {
        @include media-laptop-1024 {
          &::after {
            background-color: #2566c2;
          }
        }
      }

      i.fa-instagram:hover,
      i.fa-instagram.hover {
        &::after {
          background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
          );
        }
      }
      i.fa-instagram {
        @include media-laptop-1024 {
          &::after {
            background: linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
          }
        }
      }

      i.fa-youtube:hover,
      i.fa-youtube.hover {
        &::after {
          background-color: #dc2743;
        }
      }
      i.fa-youtube {
        @include media-laptop-1024 {
          &::after {
            background-color: #dc2743;
          }
        }
      }

      i.fa-odnoklassniki:hover,
      i.fa-odnoklassniki.hover {
        &::after {
          background-color: #ff8800;
        }
      }
      i.fa-odnoklassniki {
        @include media-laptop-1024 {
          &::after {
            background-color: #ff8800;
          }
        }
      }
    }
  }
}

@keyframes animate {
  0%,
  20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: $color-brand-accent;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,
  100% {
    transform: scale(1);
    border-radius: 5px;
  }
}
